<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add new Employee</title>
    <style>
        .readonly {
            background-color: #eeeeee;
            color : #888888;
        }
        .error {
            color: #ff0000;
        }
    </style>
</head>

<body>
<h2>Add a new Employee</h2>
<h3>to the Department <span th:text="${department.name}"></span></h3>
<p>...</p>

<a href="#" th:href="@{/employees/{id}(id=${department.id})}">Cancel</a>
</body>
</html>